*{
    background-color: beige;
   

}


header{
    border: 1px solid #ee55e6;
    text-transform: uppercase;
    background-color: #78e9bd ;
    text-align: center;
    border-radius: 5%;
}
@media (width>700){table{
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0cap;
}}

/* For screens smaller than 600px (phone) */
@media screen and (max-width: 600px) {
	table {
		width: 100%;
	}
	td {
		display: block;
		text-align: center;
	}
	td:first-child {
		font-weight: bold;
	}
}

/* For screens between 600px and 900px (tablet) */
@media screen and (min-width: 601px) and (max-width: 900px) {
	table {
		width: 80%;
		margin: 0 auto;
	}
	td {
		display: inline-block;
		width: 50%;
		text-align: center;
	}
	td:first-child {
		font-weight: bold;
	}
}

/* For screens larger than 900px (desktop) */
@media screen and (min-width: 901px) {
	table {
		width: 60%;
		margin: 0 auto;
	}
	td {
		display: inline-block;
		width: 50%;
		text-align: center;
	}
	td:first-child {
		font-weight: bold;
		
}

}